.dcl.navbar .ui.menu .item .bell {
  color: var(--text);
}
.dcl.logo {
  background-image: url('../../images/MANIA\ LANDS\ LOGO\ 1\ \(1\).png') !important;
  background-position: center;
  background-size: cover;
  width: 36px !important;
  height: 36px !important;

  background-repeat: no-repeat;
}
.dcl.navbar .ui.menu .item.active .bell {
  color: var(--primary);
}
.navbar {
  background: #331e55;
}
.dcl.user-menu-wrapper .activity-bell.item .bell {
  color: #b445a3 !important;
}
.dcl.user-menu .menu {
  background-color: #241a46 !important;
}
.dcl.navbar .ui.menu .item .bell.pending:after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: var(--primary);
  position: absolute;
  border-radius: 100%;
  top: -5px;
  right: -5px;
}

.dcl.account-wrapper .dcl.mana {
  flex: none;
}
